@import '../../styles/styles.less';

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.mat-mdc-button>.mat-icon {
    margin-right: 0;
 }

.nav-btn {
    display: flex;
    justify-content: start;
    height: 40px;
    gap: 10px;
}

.closed-nav-btn {
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.spacer {
    margin-left: 20px;
}
