<div class="main-container">
    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn' : !isOpened }" routerLink="/tests" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>list_alt</mat-icon>
        <span *ngIf="isOpened">Tests</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn' : !isOpened }" routerLink="/themes" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>turned_in_not</mat-icon>
        <span *ngIf="isOpened">Themes</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn' : !isOpened }" routerLink="/questions" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>question_mark</mat-icon>
        <span *ngIf="isOpened">Questions</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn' : !isOpened }" routerLink="/subjects" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>storage</mat-icon>
        <span *ngIf="isOpened">Subjects</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn': !isOpened }" routerLink="/users" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>person</mat-icon>
        <span *ngIf="isOpened">Users</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn': !isOpened }" routerLink="/groups" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>group</mat-icon>
        <span *ngIf="isOpened">Groups</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher()"></mat-divider>

    <button mat-button color="primary" class="nav-btn" [ngClass]="{ 'closed-nav-btn': !isOpened }" routerLink="/schedule-tests" *ngIf="isAdmin() || isTeacher() || isStudent()">
        <mat-icon>date_range</mat-icon>
        <span *ngIf="isOpened">Schedule Tests</span>
    </button>
    <mat-divider *ngIf="isAdmin() || isTeacher() || isStudent()"></mat-divider>
</div>