<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{data === null ? 'Add' : 'Edit'}} Question</h2>
    <div class="dialog-content">
        <form [formGroup]="questionForm">
            <mat-form-field class="dialog-field">
                <mat-label>Choose Theme</mat-label>
                <mat-select formControlName="topicId">
                    <mat-option *ngFor="let option of themeOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="questionForm.controls['topicId'].invalid">Theme is required</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-label>Choose Database</mat-label>
                <mat-select (selectionChange)="changeDatabase($event.value)" formControlName="databaseId">
                    <mat-option *ngFor="let option of databaseOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="questionForm.controls['databaseId'].invalid">Database is required</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-label>Question</mat-label>
                <textarea matInput placeholder="Enter question..." required formControlName="question"></textarea>
                <mat-error *ngIf="questionForm.controls['question'].invalid">Question is required</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-label>Complexity</mat-label>
                <input type="number" matInput required formControlName="complexity">
                <mat-error *ngIf="questionForm.controls['complexity'].invalid">Complexity is required</mat-error>
            </mat-form-field>
            <div>
                <label>Answer</label>
                <ngx-codemirror #codemirror [options]="codeMirrorOptions" formControlName="answer">
                </ngx-codemirror>
                <mat-error *ngIf="questionForm.controls['answer'].invalid && questionForm.controls['answer'].touched">Answer is required</mat-error>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" [disabled]="isAddButtonDisabled()" (click)="addEditQuestion()">{{data === null ? 'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>