<div class="dialog-container">
    <h2 class="dialog-header" color="primary">Add Data</h2>
    <div class="dialog-content">
        <form *ngIf="!!model" [formGroup]="addForm">
            <mat-form-field class="dialog-field" *ngFor="let keyType of this.keyTypes">
                <ng-container [ngSwitch]="keyType.type">
                    <ng-container *ngSwitchCase="'date'">
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Enter date" formControlName="{{keyType.key}}" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [color]="color">
                            <ng-template>
                                <span>OK</span>
                            </ng-template>
                        </ngx-mat-datetime-picker>
                    </ng-container>
                    <ng-container *ngSwitchCase="'fk'">
                        <mat-label>Choose {{keyType.key}}</mat-label>
                        <mat-select formControlName="{{keyType.key}}">
                            <mat-option *ngFor="let option of keyType.selects" [value]="option.id">
                                {{option.value}}
                            </mat-option>
                        </mat-select>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <mat-label>Enter {{keyType.key}}</mat-label>
                        <input matInput type="{{getInputType(keyType.key)}}" formControlName="{{keyType.key}}">
                    </ng-container>
                </ng-container>
                <mat-error *ngIf="addForm.get(keyType.key)?.invalid">{{keyType.key}} is required</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" (click)="add()">Add</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>