<div class="dialog-container">
    <h2 class="dialog-header" color="primary">Verify Yourself</h2>
    <div class="dialog-content" [ngClass]="{loading: isImageVerifying}" [ngStyle]="{'margin-bottom': isImageVerifying ? '26px' : '20px'}">
        <webcam #WebcamComponent *ngIf="!isImageVerifying" (imageCapture)="captureImage($event)" [trigger]="imageTrigger">
        </webcam>
        <div class="spinner">
            <mat-spinner *ngIf="isImageVerifying"></mat-spinner>
        </div>
    </div>
    <mat-error *ngFor="let error of errors">
        {{error}}
    </mat-error>
    <div mat-dialog-actions align="end" class="dialog-actions">
        <button mat-raised-button color="primary" (click)="triggerSnapshot()" [disabled]="isImageVerifying">Take Snapshot</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>