<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideBar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SQL Trainer</span>

  <span class="spacer"></span>

  <button mat-button (click)="openLogInDialog()" *ngIf="!isLoggedIn">Log in</button>
  <button mat-button (click)="openSignInDialog()" *ngIf="!isLoggedIn">Sign in</button>
  <button mat-button (click)="logOut()" *ngIf="isLoggedIn">Log out</button>
  <span *ngIf="isLoggedIn">{{login}}</span>
</mat-toolbar>