<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{data === null ? 'Add' : 'Edit'}} Schedule Test</h2>
    <div class="dialog-content">
        <form [formGroup]="addEditForm">
            <mat-form-field class="dialog-field">
                <mat-label>Choose Test</mat-label>
                <mat-select formControlName="testId">
                    <mat-option *ngFor="let option of testOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container formArrayName="dates">
                <mat-form-field class="dialog-field">
                    <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="Choose start time"
                        formControlName="startAt" [min]="minDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerStart)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerStart [color]="color">
                        <ng-template>
                            <span>OK</span>
                        </ng-template>
                    </ngx-mat-datetime-picker>
                </mat-form-field>

                <mat-form-field class="dialog-field">
                    <input matInput [ngxMatDatetimePicker]="pickerFinish" placeholder="Choose end time"
                        formControlName="finishAt" [min]="minDate" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="$any(pickerFinish)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerFinish [color]="color">
                        <ng-template>
                            <span>OK</span>
                        </ng-template>
                    </ngx-mat-datetime-picker>
                    <mat-error *ngIf="showError()">Finish at
                        should be bigger than start date</mat-error>
                </mat-form-field>
            </ng-container>

            <mat-form-field class="dialog-field">
                <mat-label>Choose groups</mat-label>
                <mat-select formControlName="groupIds" (selectionChange)="chooseGroup($event.value)" multiple>
                    <mat-option *ngFor="let option of groupOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="dialog-field">
                <mat-label>Choose users</mat-label>
                <mat-select formControlName="userIds" multiple>
                    <mat-option *ngFor="let option of userOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" [disabled]="isButtonDisabled()" (click)="addEdit()">{{data === null ?
            'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>