@use '@angular/material' as mat;
@include mat.core();

$sql-trainer-primary: mat.define-palette(mat.$indigo-palette);
$sql-trainer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$sql-trainer-warn: mat.define-palette(mat.$red-palette);

$sql-trainer-theme: mat.define-light-theme((
  color: (
    primary: $sql-trainer-primary,
    accent: $sql-trainer-accent,
    warn: $sql-trainer-warn,
  )
));

@include mat.all-component-themes($sql-trainer-theme);
