.dialog-container {
    padding: 20px;
    width: 100%;

    height: 100%;
}

.dialog-header {
    margin-left: 10px;
    margin-bottom: 10px;
}

.dialog-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dialog-field {
    width: 100%;
}

.dialog-btn  {
    min-width: 50px;
    max-width: 150px;
    width: 30%;
}

.dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 15px;
}

.error {
    color: red;
}