.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.menu-header-title {
    margin-left: 10px;
}

.menu-header-btn {
    margin-right: 10px;
}

.card {
    margin-bottom: 10px;
}

.card-btn {
    margin-right: 10px;
}
