<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{data === null ? 'Add' : 'Edit'}} Test</h2>
    <div class="dialog-content">
        <form [formGroup]="testForm">
            <mat-form-field class="dialog-field">
                <mat-label>Test Name</mat-label>
                <input matInput placeholder="Enter test name..." required formControlName="name">
                <mat-error *ngIf="testForm.controls['name'].invalid">Test Name is required</mat-error>
            </mat-form-field>
        </form>

        <div class="dialog-content table-wrapper">
            <app-entity-table [dataSource]="dataSource" [columns]="questionColumns" [isShowDelete]="false"></app-entity-table>
        </div>   
    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" [disabled]="isButtonDisabled()" (click)="addEditTest()">{{data === null ? 'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>