<div class="menu-header">
    <h1 class="menu-header-title">Schedule Tests</h1>

    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAdd()" *ngIf="isAdmin() || isTeacher()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>

<div class="list" *ngFor="let test of tests">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{test.test?.name}}</mat-card-title>
            <mat-card-subtitle>Start: {{formatDate(test.startAt)}}</mat-card-subtitle>
            <mat-card-subtitle>Finish: {{formatDate(test.finishAt)}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" class="card-btn" (click)="goToTestPage(test.id)" *ngIf="isStudent() && !test.userScheduleTests[0]?.finishedAt" [disabled]="!isTestActive(test)">
                <mat-icon>alarm</mat-icon>
                Start Test
            </button>

            <button mat-raised-button color="primary" class="card-btn" (click)="goToCheckResultPage(test.id)" *ngIf="isAdmin() || isTeacher() || isStudent() && test.userScheduleTests[0]?.finishedAt">
                <mat-icon *ngIf="isStudent() && !test.userScheduleTests[0].checkedByTeacher">done</mat-icon>
                <mat-icon *ngIf="isStudent() && test.userScheduleTests[0].checkedByTeacher">done_all</mat-icon>
                Check
            </button>

            <button mat-raised-button color="primary" class="card-btn" (click)="openEdit(test)" *ngIf="isAdmin() || isTeacher()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-raised-button color="primary" class="card-btn" (click)="openDelete(test)" *ngIf="isAdmin() || isTeacher()">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>