<div class="menu-header" style="justify-content: start;">
    <countdown [config]="countdownConfig"></countdown>
    <button mat-raised-button color="primary" class="menu-header-btn" (click)="goToTests()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back
    </button>
    <h1 class="menu-header-title">{{testName}}</h1>
</div>

<div class="questions-wrapper" *ngIf="!!questions && questions.length > 0">
    <mat-card class="database-structure">
        <mat-tree [dataSource]="dataSources[currentQuestionIndex]" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
    </mat-card>
    <mat-card class="question">
        <mat-card-header style="justify-content: space-between;">
            <mat-card-title>{{questions[currentQuestionIndex].body}}</mat-card-title>
            <button align="end" mat-raised-button color="primary" (click)="execute()">
                Execute
            </button>
        </mat-card-header>
        <mat-card-content>
            <ngx-codemirror #codemirror [options]="codeMirrorOptions" [ngModel]="answerModels[currentQuestionIndex].body" (ngModelChange)="editText($event, currentQuestionIndex)">
            </ngx-codemirror>
        </mat-card-content>
        <mat-card-actions align="end" style="gap: 10px;">
            <button mat-raised-button color="primary" (click)="goToNextQuestion()" [disabled]="currentQuestionIndex + 1 === questions.length">Next</button>
            <button mat-raised-button color="primary" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="questions-list">
        <mat-card-header>
            <mat-card-title>Question List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="question-numbers">
                <div *ngFor="let question of questions; let i = index" class="question-number" [ngClass]="{ 'is-active' : currentQuestionIndex === i }" (click)="goToQuestion(i)">
                    {{i+1}}
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="questions-actions">
            <button mat-raised-button color="primary" *ngIf="!areAllQuestionsChecked()" (click)="checkAll()">
                Check all
            </button>
            <button mat-raised-button color="primary" *ngIf="areAllQuestionsChecked()" (click)="submit()">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <webcam #WebcamComponent (imageCapture)="captureImage($event)" [trigger]="imageTrigger" [height]="200" [width]="200">
    </webcam>
    <div class="table-wrapper" *ngIf="showExecutionResult">
        <app-entity-table [dataSource]="table" [columns]="columns"></app-entity-table>
    </div>
    <mat-error *ngIf="executionError">{{executionError.substring(45, executionError.length - 3)}}</mat-error>
</div>