.questions-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .database-structure {
        min-width: 20%;
    }

    .question {
        min-width: 60%;
        min-height: 70%;
    }

    .questions-list {
        width: fit-content;
        display: flex;
        flex-direction: column;

        .question-numbers {
            padding: 5px;
            display: grid;
            grid-template-columns: repeat(5, 2fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .question-number {
                width: 30px;
                padding: 5px;
                border: 1px solid blue;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .is-active {
                color: white;
                background-color: blue;
            }
        }
    }
}