<div class="menu-header">
    <h1 class="menu-header-title">Tests</h1>

    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAdd()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>

<div class="list" *ngFor="let test of tests">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{test.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" class="card-btn" (click)="openEdit(test)">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-raised-button color="primary" class="card-btn" (click)="openDelete(test)">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>