<div class="menu-header" style="justify-content: flex-start;">
    <button mat-raised-button color="primary" class="menu-header-btn" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back
    </button>
    <h1 class="menu-header-title">Schedule Test Result</h1>
</div>

<mat-card class="user-answer" *ngFor="let answer of answers">
    <mat-card class="database-structure">
        <mat-tree [dataSource]="answer.dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
    </mat-card>

    <mat-card class="answer">
        <mat-card-header style="justify-content: space-between;">
            <mat-card-title>{{answer.question?.body ?? ''}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-expansion-panel class="answer">
                <mat-expansion-panel-header>
                    User answer
                </mat-expansion-panel-header>

                <button align="end" mat-raised-button color="primary" (click)="execute(answer, answer.question?.databaseId ?? '', answer.body, false)">
                    Execute
                </button>
                <ngx-codemirror #codemirror [options]="codeMirrorOptions" [ngModel]="answer.body">
                </ngx-codemirror>

                <div class="table-wrapper" *ngIf="answer.showExecutionResult">
                    <app-entity-table [dataSource]="answer.table" [columns]="answer.columns"></app-entity-table>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="answer" *ngIf="isTeacher() || isAdmin()">
                <mat-expansion-panel-header>
                    Correct answer
                </mat-expansion-panel-header>

                <button align="end" mat-raised-button color="primary" (click)="execute(answer, answer.question?.databaseId ?? '', answer.question?.correctAnswer?.body ?? '', true)">
                    Execute
                </button>
                <ngx-codemirror #codemirror [options]="codeMirrorOptions" [ngModel]="answer.question?.correctAnswer?.body">
                </ngx-codemirror>

                <div class="table-wrapper" *ngIf="answer.showCorrectAnswerExecutionResult">
                    <app-entity-table [dataSource]="answer.correctAnswerTable" [columns]="answer.correctAnswerColumns"></app-entity-table>
                </div>
            </mat-expansion-panel>

            <div class="marks">
                <div>
                    Max question mark: {{getQuestionMaxMark(answer)}}
                </div>
                <div *ngIf="isTeacher() || isAdmin() || isStudent() && !isCheckedByTeacher(answer.scheduleTest)">
                    Automated mark: {{answer.programMark}}
                </div>
                <div *ngIf="isStudent()">
                    Teacher mark: {{answer.teacherMark}}
                </div>
    
                <mat-form-field *ngIf="isTeacher() || isAdmin()">
                    Your mark: 
                    <input matInput type="number" placeholder="Enter your mark" [(ngModel)]="answer.teacherMark">
                </mat-form-field>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="setTeacherMark(answer)" *ngIf="isTeacher() || isAdmin()">
                    Submit
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</mat-card>