.marks {
    margin-top: 10px;
}

.user-answer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .database-structure {
        min-width: 20%;
    }

    .answer {
        min-width: 60%;
        display: flex;
        flex-direction: column;
    }
}