<div class="dialog-container log-in-container">
    <h2 class="dialog-header" color="primary">Log in</h2>
    <form [formGroup]="loginForm">
        <mat-form-field class="dialog-field">
            <mat-label>Login</mat-label>
            <input matInput type="text" placeholder="Enter login..." formControlName="login">
            <mat-error *ngIf="loginForm.controls['login'].invalid">Login is required</mat-error>
        </mat-form-field>
    
        <mat-form-field class="dialog-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].invalid">Password is required and should has min 8 characters</mat-error>
        </mat-form-field>
    </form>

    <div mat-dialog-actions align="end" class="dialog-actions">
        <button mat-raised-button color="primary" (click)="logIn()" [disabled]="isLoginButtonDisabled()">Log in</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>