.confirmation-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.confirmation-content {
    font-size: 15px;
}

.confirmation-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
}