<h1 mat-dialog-title class="confirmation-title">
    <b>{{title}}</b>
</h1>

<div mat-dialog-content class="confirmation-content">
    {{message}}
</div>

<div mat-dialog-actions class="confirmation-actions">
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    <button mat-button (click)="onDismiss()">No</button>
</div>