<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{isAdd() ? 'Add' : 'Edit'}} Table</h2>
    <div class="dialog-content">
        <form [formGroup]="addForm">
            <mat-form-field class="dialog-field">
                <mat-label>Enter table name</mat-label>
                <input matInput type="text" placeholder="Enter subject name..." formControlName="tableName">
                <mat-error *ngIf="addForm.controls['tableName'].invalid">Table name is required</mat-error>
            </mat-form-field>
        </form>
        <div class="dialog-content table-wrapper">
            <app-entity-table [isShowAdd]="true" [dataSource]="dataSource" [columns]="displayedColumns" (onShowAddRow)="showAddRow()" (onDeleteColumn)="deleteRow($event)"></app-entity-table>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" (click)="addEdit()">{{isAdd() ? 'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>