<div class="menu-header">
    <h1 class="menu-header-title">Questions</h1>

    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAdd()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>
<div class="list" *ngFor="let question of questions">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{question.body}}</mat-card-title>
            <mat-card-subtitle>Max mark: {{question.complexity}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" class="card-btn" (click)="openEdit(question)">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-raised-button color="primary" class="card-btn" (click)="openDelete(question)">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>