<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{ isEditMode ? 'Update' : 'Create' }} Theme</h2>
    <div class="dialog-content">
        <form [formGroup]="form">
            <mat-form-field class="dialog-field">
                <mat-label>Enter theme name</mat-label>
                <input matInput type="text" placeholder="Enter theme name..." formControlName="name">
                <mat-error *ngIf="form.controls['name'].invalid">Theme name is required</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" (click)="handleAction()" [disabled]="form.invalid">{{ isEditMode ? 'Update' : 'Add' }}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>