<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{data === null ? 'Add' : 'Edit'}} User</h2>
    <form [formGroup]="addEditForm">
        <div class="dialog-content">
            <mat-form-field class="dialog-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Enter user name..." formControlName="name">
                <mat-error *ngIf="addEditForm.get('name')?.invalid">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-label>Login</mat-label>
                <input matInput type="text" placeholder="Enter login..." formControlName="login" (blur)="checkLogin()">
                <mat-error *ngIf="addEditForm.get('login')?.invalid && (!addEditForm.get('login')?.value || addEditForm.get('login')?.value.length < loginMinCharacters)">Login is required and must contain min 6 characters</mat-error>
                <mat-error *ngIf="addEditForm.get('login')?.hasError('loginExists')">Current login is already used</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field" *ngIf="data === null">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password..." formControlName="password">
                <mat-error *ngIf="addEditForm.get('password')?.invalid">Password is required and must contain min 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="dialog-field" *ngIf="shouldShowRoleOptions()">
                <mat-label>Choose Role</mat-label>
                <mat-select formControlName="roleId" (selectionChange)="changeRole()">
                    <mat-option *ngFor="let option of roleOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="dialog-field" *ngIf="shouldShowGroupOptions()">
                <mat-label>Choose Group</mat-label>
                <mat-select formControlName="groupId">
                    <mat-option *ngFor="let option of groupOptions" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="dialog-field" *ngIf="shouldShowGroupOptions()">
                <button mat-raised-button (click)="openInput()">Select File to Upload</button>
                <input id="fileInput" hidden type="file" (change)="fileChange($any($event.target).files)" name="file" accept="image/*" formControlName="file">

                <img class="image" [src]="imageSrc" *ngIf="imageSrc">
            </div>
        </div>
    </form>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" [disabled]="addEditForm.invalid" (click)="addEditUser()">{{data === null ? 'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>