<div class="menu-header" style="justify-content: flex-start;">
    <button mat-raised-button color="primary" class="menu-header-btn" (click)="goToScheduleTestsPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back
    </button>
    <h1 class="menu-header-title">Schedule Test Results</h1>
</div>

<div>
    <mat-card class="card" *ngFor="let userScheduleTest of getUserScheduleTests()">
        <mat-card-header>
            <mat-card-title>
                <mat-icon *ngIf="(userScheduleTest.teacherMark ? userScheduleTest.teacherMark === userScheduleTest.questionMaxMark : userScheduleTest.programMark !== null && userScheduleTest.programMark === userScheduleTest.questionMaxMark)">star</mat-icon>
                {{userScheduleTest.user?.name}}
            </mat-card-title>
            <mat-card-subtitle>Program Mark: {{userScheduleTest.programMark}}</mat-card-subtitle>
            <mat-card-subtitle>Teacher Mark: {{userScheduleTest.teacherMark}}</mat-card-subtitle>
            <mat-card-subtitle>Max Student Mark: {{userScheduleTest.questionMaxMark}}</mat-card-subtitle>
            <mat-card-subtitle>Finished: {{formatDate(userScheduleTest.finishedAt)}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" class="card-btn" (click)="goToTestResult(userScheduleTest)" [disabled]="!userScheduleTest.finishedAt">
                <mat-icon>more</mat-icon>
                View Result
            </button>
        </mat-card-actions>
    </mat-card>
</div>