<div class="dialog-container">
    <h2 class="dialog-header" color="primary">Add Subject</h2>
    <div class="dialog-content">
        <form [formGroup]="addForm">
            <mat-form-field class="dialog-field">
                <mat-label>Enter subject name</mat-label>
                <input matInput type="text" placeholder="Enter subject name..." formControlName="subjectName">
                <mat-error *ngIf="addForm.controls['subjectName'].invalid">Subject name is required</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" (click)="add()">Add</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>