<div class="btn-container" *ngIf="isShowAdd">
    <button mat-raised-button color="primary" (click)="onAddClick()">Add item</button>
</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.key">
                <ng-container *ngSwitchCase="'Actions'">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ toPascaleCase(col.key) }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="!element.isEdit && !element.isAdd">
                            <div style="display: flex; flex-direction: row; gap: 10px;">
                                <button mat-raised-button color="primary" (click)="startColumnEditing(element)">
                                    <mat-icon>edit</mat-icon> 
                                    Edit
                                </button>
                                <button mat-raised-button color="primary" (click)="deleteColumn(element)" *ngIf="isShowDelete">
                                    <mat-icon>delete</mat-icon> 
                                    Delete
                                </button>
                                <button *ngIf="element.isShowMore" mat-raised-button color="primary" (click)="showMore(element)">
                                    <mat-icon>more_horiz</mat-icon> 
                                    Show more
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="element.isEdit">
                            <div style="display: flex; flex-direction: row; gap: 10px;">
                                <button mat-raised-button color="primary" (click)="editElement(element)">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    Done
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="element.isAdd">
                            <div style="display: flex; flex-direction: row; gap: 10px; padding-top: 5px;">
                                <button mat-raised-button color="primary" (click)="addElement(element)">
                                    <mat-icon>add</mat-icon>
                                    Add
                                </button>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <th mat-header-cell *matHeaderCellDef>
                        {{ toPascaleCase(col.key) }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="!element.isEdit && !element.isAdd">
                            <ng-container [ngSwitch]="col.type">
                                <ng-container *ngSwitchCase="'boolean'">
                                    <mat-checkbox [(ngModel)]="element.data[col.key]" disabled="true"></mat-checkbox>
                                </ng-container>
                                <ng-container *ngSwitchCase="'select'">
                                    {{ getOptionValue(col, element.data[col.key]) }}
                                </ng-container>
                                <ng-container *ngSwitchCase="'date'">
                                    {{ formatDate(element.data[col.key]) }}
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{ element.data[col.key] }}
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="element.isEdit || element.isAdd">
                            <div [ngSwitch]="col.type" style="padding-top: 5px;">
                                <ng-container *ngSwitchCase="'boolean'">
                                    <mat-checkbox [(ngModel)]="element.data[col.key]"></mat-checkbox>
                                </ng-container>
                                <ng-container *ngSwitchCase="'select'">
                                    <mat-select [(ngModel)]="element.data[col.key]">
                                        <mat-option *ngFor="let option of col.customColumnOptions" [value]="option.id">
                                            {{option.value}}
                                        </mat-option>
                                    </mat-select>
                                </ng-container>
                                <mat-form-field *ngSwitchCase="'number'">
                                    <input type="number" matInput [(ngModel)]="element.data[col.key]">
                                </mat-form-field>
                                <mat-form-field *ngSwitchCase="'date'">
                                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose date" [min]="minDate" [(ngModel)]="element.data[col.key]">
                                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [color]="color">
                                        <ng-template>
                                            <span>OK</span>
                                        </ng-template>
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                                <mat-form-field *ngSwitchDefault>
                                    <input type="text" matInput [(ngModel)]="element.data[col.key]">
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getVisibleColumnsKeys()"></tr>
        <tr mat-row *matRowDef="let row; columns: getVisibleColumnsKeys();"></tr>
    </table>
</div>