<div class="menu-header">
    <button mat-raised-button color="primary" class="menu-header-btn" (click)="goToSubjects()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back
    </button>
    <h1 class="menu-header-title">{{databaseName}}</h1>
    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAddModal()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>
<div class="table-wrapper">
    <table mat-table [dataSource]="tablesDataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <button mat-raised-button color="primary" (click)="openSubjectTableModal(element)">
                        <mat-icon>edit</mat-icon> 
                        Edit
                    </button>
                    <button mat-raised-button color="primary" (click)="delete(element)">
                        <mat-icon>delete</mat-icon> 
                        Delete
                    </button>
                    <button mat-raised-button color="primary" (click)="showTableData(element)">
                        <mat-icon>more_horiz</mat-icon> 
                        Show more
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>