<div class="dialog-container sign-in-container">
    <h2 class="dialog-header" color="primary">Log in</h2>
    <form [formGroup]="signInForm">
        <mat-form-field class="dialog-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Enter your name..." formControlName="name">
            <mat-error *ngIf="signInForm.get('name')?.invalid">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="dialog-field">
            <mat-label>Login</mat-label>
            <input matInput type="text" placeholder="Enter login..." formControlName="login" (blur)="checkLogin()">
            <mat-error *ngIf="signInForm.get('login')?.invalid && (!signInForm.get('login')?.value || signInForm.get('login')?.value.length < loginMinCharacters)">Login is required and must contain min 6 characters</mat-error>
            <mat-error *ngIf="signInForm.get('login')?.hasError('loginExists')">Current login is already used</mat-error>
        </mat-form-field>
        <ng-container formArrayName="passwords">
            <mat-form-field class="dialog-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password..." formControlName="password">
                <mat-error *ngIf="signInForm.get('passwords')?.get('password')?.invalid">Password is required and must contain min 8 characters</mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-field">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" placeholder="Enter password..." formControlName="confirm">
                <mat-error *ngIf="signInForm.get('passwords')?.get('confirm')?.invalid">Confirm your password</mat-error>
                <mat-error *ngIf="signInForm.get('passwords')?.get('confirm')?.hasError('notPasswordMatch')">Passwords do not match</mat-error>
            </mat-form-field>
        </ng-container>
    </form>
    <div mat-dialog-actions align="end" class="dialog-actions">
        <button mat-raised-button color="primary" (click)="signIn()" [disabled]="signInForm.invalid">Sign in</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>