<div class="menu-header">
    <h1 class="menu-header-title">Subjects</h1>
    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAddSubjectModal()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>
<div class="table-wrapper">
    <app-entity-table [dataSource]="dataSource" [columns]="columns" (onEditColumn)="edit($event)" (onDeleteColumn)="delete($event)" (onShowMore)="showMoreDbInfo($event)"></app-entity-table>
</div>

