.main-container {
    display: table;
    min-width: 100%;
    height: 100%;
}

.container>*:first-child {
    align-self: stretch;
}

.container {
    height: calc(100% - 64px);
}

.opened-nav-container {
    width: 200px;
}

.closed-nav-container {
    width: 70px;
}

.content-container {
    padding: 10px;
}