<div class="main-container">
  <header (toggle)="toggleSideBar()"></header>
  <mat-drawer-container class="container" autosize>
    <mat-drawer [ngClass]="{ 'opened-nav-container': isOpened, 'closed-nav-container': !isOpened }" mode="side" opened>
      <navigation [isOpened]="isOpened"></navigation>
    </mat-drawer>
    <mat-drawer-content class="content-container">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>