<div class="menu-header">
    <button mat-raised-button color="primary" class="menu-header-btn" (click)="goToSubjectTables()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back
    </button>
    <h1 class="menu-header-title">Table Data</h1>
    <div class="spacer"></div>

    <button mat-raised-button color="primary" class="menu-header-btn" (click)="openAdd()">
        <mat-icon>add</mat-icon>
        Add
    </button>
</div>
<div class="table-wrapper">
    <app-entity-table [dataSource]="dataSource" [columns]="columns" (onDeleteColumn)="delete($event)" (onEditColumn)="update($event)"></app-entity-table>
</div>