<div class="dialog-container">
    <h2 class="dialog-header" color="primary">{{data === null ? 'Add' : 'Edit'}} Group</h2>
    <div class="dialog-content">
        <form [formGroup]="addEditForm">
            <mat-form-field class="dialog-field">
                <mat-label>Group Name</mat-label>
                <input matInput placeholder="Enter group name..." required formControlName="name">
                <mat-error *ngIf="addEditForm.controls['name'].invalid">Group Name is required</mat-error>
            </mat-form-field>
        </form>
    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" [disabled]="isAddButtonDisabled()" (click)="addEditGroup()">{{data === null ? 'Add' : 'Edit'}}</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</div>